<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    <div class="qus_div">
        <div class="qus">
            {{que}}
        </div>
        <div class="qus_sol">
            <div><input type="radio" name="option"/>{{a}} </div>
            <div><input type="radio" name="option"/> {{b}}</div>
            <div><input type="radio" name="option"/> {{c}}</div>
            <div><input type="radio" name="option"/> {{d}}</div>

        </div>
<div><input type="submit" name="submit" value = "submit"/></div>


    
    </div>
</body>
</html> 
